<h2>Search authors</h2>

<form action="/authors" method="get">
    <label for="search-name">Name</label><br>
    <input type="text" name="name" value="<%=searchOptions.name%>">
    <button type="submit">Search</button>
</form>



<% authors.forEach(author => { %>
    <div>
        <%=author.name %>
    </div>
    <% }) %>